<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
        integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
            integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
            crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/css/home.css">
    <title>TypeMyWorDz | Home</title>
</head>
<body>
<!--navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><span class="fs-1" style="color: crimson;">Type</span><span class="fs-2">My</span><span class="fs-3">WorDz</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign in</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

<!--The trancription site you are looking for-->
<div class="container heading">
    <div class="row first mt-4">
        <h4 class="fw-light text-center mb-n5" style="font-size: 3rem;">The trancription site you are looking for</h4>
        <div class="col mt-n1">
            <h2 class="fw-light">affordable<span></span></h2>
            <h2 class="fw-light">accurate<span></span></h2>
            <h2 class="fw-light">fast<span></span></h2>
        </div>
    </div>
</div>

<!--client-->
<div class="container body">
    <div class="row client">
    <div class="col">
<h3 class="fw-light fs-2 text-center">Are you a client looking to order your first transcript?</h3>
<p class="mt-3 text-center fs-3 fw-light">Great!! we've got you covered</p>
<button type="button" class="btn btn-outline-success btn-lg" id="button">ORDER NOW</button>
        </div>
    </div>
    <hr>

<!--transcriber/reviwer-->
    <div class="row transcriber">
        <div class="col-12">
            <h3 class="text-center fs-2 fw-light" id="services" >We are hiring!!</h3>
            <h4 class="text-center fs-3 fw-light">Are you an experienced transcriber or reviewer, who would like to work with us?</h4>
            <p class="text-center fs-4 fw-light">Great!!..Lets get started by creating an account for you</p>
            <button type="button" class="btn btn-outline-success btn-lg" id="button">Sign up</button>
        </div>
    </div>
    
<hr>

<!--services offered-->
<div class="row lh-base services">
    <h3 class="text-center fs-2 fw-light mb:n2">Services we offer</h3>
    <div class="col">
<h4 class="text-center fs-3 fw-light">Trancription</h4>
<p class="border-end pe-2 fw-light" id="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quidem ex ea dolor incidunt nisi vel ullam. 
    Eligendi earum accusantium quae facilis dolores minus at qui, iste nesciunt aperiam possimus exercitationem consectetur eveniet quod cum neque 
    voluptatibus omnis rem porro molestiae. Adipisci illo nulla vel sit, qui excepturi reprehenderit officiis!</p>
    </div>
    
</div>

<!--about us-->
<hr>
<div class="row" >
    <div class="col-12 about">
        <h3 class="fs-2 text-center fw-light">About us</h3>
        <p class="lh-lg text-center fw-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit. L
            audantium eum aliquid accusantium molestias reiciendis ipsa, aliquam laborum fugiat modi, facere doloremque
            quibusdam,
            tempore adipisci ratione illum ducimus vero? Modi quasi, sed nesciunt perspiciatis laboriosam facere
            asperiore
            s veniam assumenda! Explicabo, est nihil obcaecati, quaerat expedita eveniet excepturi corporis incidunt s
            aepe soluta dicta quidem corrupti autem veniam mollitia, inventore ut nulla totam rem possimus eius esse
            aliquam
            voluptatum! Culpa similique eveniet quasi, modi ipsum quia enim quam! Maiores amet esse non expedita, autem
            necessitatibus unde quos in similique dignissimos aut a.
            Repellendus exercitationem quisquam culpa adipisci minima officiis cupiditate modi nostrum doloribus!</p>
    </div>
</div>

<!--reviews-->
<hr>
<hr>
<div class="row">
    <h3 class="text-center fs-3 fw-light">Reviews from some of our clients</h3>
    <div class="col">
        <p class="fw-light">
        <i class="fas fa-quote-left"></i> &nbsp&nbspBest transcription site ever. No delay, perfect transcriptions and not to mention affordable prices. Thank you
        guys!&nbsp&nbsp<i class="fas fa-quote-right"></i>&nbsp&nbsp <i>~John</i>
        </p>
    </div>
    </div>
    <div class="reviews">
<div class="row">
    <div class="col">
        <p class="fw-light">
            <i class="fas fa-quote-left"></i> &nbsp&nbspBest transcription site ever. No delay, perfect transcriptions and not to mention affordable prices. Thank you
            guys!&nbsp&nbsp<i class="fas fa-quote-right"></i> &nbsp&nbsp <i>~John</i>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="fw-light">
        <i class="fas fa-quote-left"></i> &nbsp&nbspBest transcription site ever. No delay, perfect transcriptions and not to mention affordable prices. Thank you guys!!&nbsp&nbsp<i class="fas fa-quote-right"></i> &nbsp&nbsp <i>~John</i>
        </p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="fw-light">
           <i class="fas fa-quote-left"></i> &nbsp&nbspBest transcription site ever. No delay, perfect transcriptions and not to mention affordable prices. Thank you
        guys!&nbsp&nbsp<i class="fas fa-quote-right"></i> &nbsp&nbsp <i>~John</i>
        </p>
    </div>
</div>
</div>
</div>
  <div class="container footer">
      <div class="row">
          <div class="col">
              <p class="text-center" style="color: white;">Telephone :</p>
              <p class="text-center light"  style="color: white;">Email :</p>
          </div>
      </div>
      <div class="row">
<div class="column">
    <p class="text-center">copyright&nbsp&nbsp <i class="far fa-copyright"></i></p>
</div>
      </div>
   </div>
</body>
</html>