<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/sign up & sign in.css">
    <title>TypeMyWorDz | sign in</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <!--Website name -->
            <div class="col-12 heading">
                <h><b>TypeMyWorDz</b></h>
                <hr>
            </div>

            <!--Welcome -->
            <div class="col-12 welcome">
                <h>Welcome</h>
            </div>
        </div>

        <div class="row">
            <!--sign in with -->
            <div class="col-7 choice">
                <h>Sign in with</h>
            </div>

            <!--sign up options -->
            <div class="col-5">
                <div class="google">
                    <button type="submit">
                        <i class="fab fa-google icon-2*"></i>&nbsp&nbsp&nbsp<p1><b>Google</b>&nbsp&nbsp&nbsp</p1>
                    </button>
                </div>
                <p5>or</p5>
                <div class="facebook">
                    <button type="submit">
                        <i class="fab fa-facebook"></i>&nbsp<p2> <b>Facebook</b></p2>
                    </button>
                </div>
                <p5>or</p5>
                <div class="twitter">
                    <button type="submit">
                        <i class="fab fa-twitter"></i>&nbsp&nbsp&nbsp<p3><b>Twitter</b>&nbsp&nbsp</p3>
                    </button>
                </div>
                <p5>or</p5>
                <div class="linkedin">
                    <button type="submit">
                        <i class="fab fa-linkedin"></i>&nbsp&nbsp<p4><b>Linked in</b></p4>
                    </button>
                </div>
            </div>
        </div>

        <!--dont have an account -->
        <div class="p3">
            <hr>
            <p>Don't have an account ? &nbsp<a href="/signUp">Sign up</a></p>
        </div>
    </div>
</body>

</html>