body{
    background-color: whitesmoke;
}

/* navigation bar*/
.nav-link:hover{
text-decoration: underline;
animation: navlink 1s ease 0.5s;
}

/* all headings*/
h3{
    color: crimson;
}

/*all buttons*/
#button{
     letter-spacing: .1rem;
    margin:3rem 0 0 10rem;
 }


/*The trancription site you are looking for*/
.heading{
    max-width: 100rem;
    margin-top: 5rem;
}

.first{
    position: relative;
    height: 18rem;
    z-index: 1;
    
}

.first::after{
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: .5;
z-index: -1;
}

/*fast accurate affordable*/
h2{
position: relative;
max-width: fit-content;
margin-left: 37rem;
color: transparent;
animation: text 1.5s ease forwards;
animation-delay: 1s;
}
h2:nth-child(1){
    animation-delay: 2s;
}
h2:nth-child(2){
    animation-delay: 3s;
}
h2:nth-child(3){
    animation-delay: 4s;
}
h2 span{
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 0;
background-color: rgb(75, 31, 39);
animation: h2_span 1s ease;
animation-delay: .5s;
}
h2:nth-child(1) span{
    animation-delay: 1.5s;
}
h2:nth-child(2) span{
    animation-delay: 2.5s;
}
h2:nth-child(3) span{
    animation-delay: 3.5s;
}

/*body*/
.body{
    max-width: 60rem;
    align-items: center;
}

/*client*/
.client{
     height:15rem;
 }

 /*transcriber/reviwer*/
 .transcriber{
     height:20rem;
 }

 /*about*/
 .about{
     height: 20rem;
 }

 /*services offered*/
 .services{
     height: 15rem;
 }

/*reviews*/
.reviews{
     height: 15rem;
 }

 /*footer*/
.footer{
     background-color: black;
     height: 5rem;
     max-width: 100rem;
     
 }


@media screen and (max-width:576px){
    .fourth{  
        height: 35rem;
    }
    .five{
       height: 45rem; 
    }
}
@media screen and (max-width:1076px){
 h2{
margin-left: 0;
}
.heading{
    margin-top: 6rem;
}
}


@keyframes h2_span{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text{
    100%{
        color: black;
    }
}
