.container{
    
    background-color: whitesmoke;
    width: 30rem; 
    border-radius: 5px; 
}
/*Website name*/
.heading{
    font-size: 35px;
   margin-bottom: 50px;
   text-align: center;
}

.welcome{
    margin: -4rem 0 3rem 0;
    text-align: center;
    font-size: 2rem;
    
}

/*role selection*/
.role{
    font-size: 20px;
    max-width:20rem;
    margin:-2rem 0 20px 4rem;
    border: 1px solid black;
    border-radius: 5px;
}
.transcriber{
  border-right: 1px solid black;
  padding-right: 1rem;  
}
.reviewer{
    margin-left: 30px;
}

/*sign up with*/
.choice{
    margin-top: 4rem;
    font-size: 2rem;
    font-style: italic;
}

/*sign up and in options*/
.google button,.linkedin button,.twitter button,.facebook button{
    background-color:transparent;
    margin: 0 0 0px 0;
    height: 2.5rem;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-size: 1.25rem;
    max-width: 9rem;
}

/*"or" between the sign up or in options*/
p5{
    margin: 5px 0 5px 4rem;
    font-size: 1.25rem;
}

/* terms and condition*/
.p2{
 margin: 4rem 0 20px 0; 
  text-align: center;   
}

/* Already have an account ? */
.p3{
    margin-top: 2rem;
    font-size: 1.0rem;
    text-align: center;
}

